:root {
  --index: calc(1vh + 1vw);
}
.parallax_container {
  height: 280vh;
}
.car {
  position: relative;
  height: 100vh;
  /* background: url(../image/kaif/фон_авто.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -2;
  /* zoom: 100% */
  transition: all 0.3s ease;
}
.car.fixed,
.bg-home.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#check,
#rent,
#aiwa {
  will-change: opacity;
  transition: all 0.3s ease;
}
.car__rolls {
  width: calc(var(--index) * 24);
  width: calc(var(--index) * 24);
  /* transform: calc(50%); */
  transition: all 0.3s ease;
  position: absolute;
  left: calc(50% - var(--index) * 12);
  bottom: calc(var(--index) * -1);
  z-index: 1;
  will-change: transform;
  /* display: none; */
}
/* .car:hover {
  zoom: 1.23;
} */
.bg-home {
  opacity: 0;
  background-image: linear-gradient(
    to top,
    rgb(13, 13, 13),
    rgba(0, 0, 0, 0.62),
    rgba(0, 0, 0, 0.62)
  );
  /* url(../image/header/fon.jpg) */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 0px;
  height: 100vh;
  width: 100%;
  position: relative;
  z-index: 2;
}

.main__logo__position {
  position: absolute;
  top: 250px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.main__logo {
  position: relative;
  text-align: center;
  /* font-style: normal;
  font-weight: 700;
  font-size: 113.218px;
  line-height: 133px;
  background: radial-gradient(
      24.8% 120.54% at 67.74% 108.14%,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    #edc89e;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; */
  z-index: 10;
  /* letter-spacing: 0.3em;
  text-transform: uppercase; */

  opacity: 1;
  transition: all 0.3s ease;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.main__logo > span {
  display: inline-block;
  margin-top: 100px;
  opacity: 0;

  letter-spacing: 0.3em;
  text-transform: uppercase;

  font-style: normal;
  font-weight: 700;
  font-size: 113.218px;
  line-height: 133px;
  /* background: radial-gradient(
      24.8% 120.54% at 67.74% 108.14%,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    #edc89e;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; */
  color: #edc89e;
  background: transparent;

  background-clip: unset;
  -webkit-background-clip: unset;
  -webkit-text-fill-color: unset;
}

.main__line {
  position: relative;
  max-width: 1370px;
  margin: 0 auto;
  border-bottom: 1.5px solid #e3a075;
  z-index: 10;

  bottom: 0;
  transform: translateY(100px);
  will-change: transform;
  /* display: none; */
}

.main__btn {
  /* margin: 20% 0; */
  position: absolute;
  top: 50%;
  transition: all 0.3s ease;
  opacity: 0;
  will-change: opacity;

  margin-left: 100px;
}
.visible {
  opacity: 1;
}
.invisible {
  opacity: 0;
}
.main__btn > a {
  color: #313149;
  padding: 19.741px 22.3213px;
  display: inline-block;
  margin: 75px 20px;
  position: relative;
  z-index: 0;
  backdrop-filter: blur(11px);
  color: #fff;
  text-decoration: none;
  font-size: 19.9297px;
  text-transform: uppercase;
  border: 0.797189px solid #edc89e;
  border-radius: 7px;
}

@media (max-width: 1650px) {
  .main__btn {
    margin-left: 0;
  }
  .main__logo__position {
    top: 180px;
  }
}
@media (max-width: 1024px) {
  .bg-home {
    background-image: linear-gradient(
      to top,
      rgb(13, 13, 13),
      rgba(0, 0, 0, 0.62),
      rgba(0, 0, 0, 0.62)
    );
    /* url(../image/header/mobile.png);
    background-position-y: center; */
  }
}
